{% extends "scraping/base_ht.html" %}

{% block content %}  
  <nav>           
    <div class="p-3 mb-2 bg-secondary text-white"> 
      <h1>Clubs - {{object_list.0.division}}</h1>
    </div>

    </div>
  </nav>
  <section class="container">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Club's name</th>
              <th scope="col">Division</th>
              <th scope="col">Players</th>               
              <th scope="col">link</th>
            </tr>
          </thead>
          {% for club in object_list %}   
            <tr>
              <th scope="row">{{club.name}}</th>
              <th>{{club.division}}</th>
              <th><a href="{% url 'player_by_club' club.id %}" class="link-dark">Show players</a> </th>
              <th><a href="{{club.link}}" class="link-dark">{{club.link}}</a></th>
            </tr>
          {%endfor%}                  
      </table>       

    <div class="pagination" >

      <span class="step-links">
        {% if page_obj.has_previous %}

          <a href="?page=1" >&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>

        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

        {% if page_obj.has_next %}
        
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        
        {% endif %}
      </span>

    </div>

  </section>    
  <footer style="text-align:center">
    <button type="button" class="btn btn-secondary btn-lg"><a href="{% url 'division_list'%}" class="link-light"> Show Divisions</a></button>    
  </footer>
{% endblock %}  