{% extends "scraping/base_ht.html" %}

{% block content %}  

  <nav>
    <div class="p-3 mb-2 bg-secondary text-white"> 
      <h1>Divisions</h1>
    </div>
  </nav>
  <section class="container">   
          
    <div class="d-grid gap-2 col-6 mx-auto">  
        {% for division in object_list %}  
        <button class="btn btn-secondary btn-lg"type="button">
          <a href="{% url 'club_by_division' division.id %}" class="link-light">{{division.name}}</a>
        </button>
        {%endfor%} 
    </div>  
  </section> 

{% endblock %}  
