{% extends "scraping/base_ht.html" %}

{% block content %}  
  <nav>
    <div class="p-3 mb-2 bg-secondary text-white"> 
      <h1>Players of the club {{player_list.0.club}} </h1>
    </div>

  </nav>

  <section class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Player</th>
            <th scope="col">Position</th>
            <th scope="col">Nationnality</th>
            <th scope="col">Club</th>
          </tr>
        </thead>

        {% for player in player_list %}          
        <tr>
          <th scope="row">{{player.number}}</th>
          <th>{{player.name}}</th>
          <th>{{player.position}}</th>
          <th>{{player.country}}</th>
          <th>{{player.club.name}}</th>
        </tr>

        {%endfor%}            
    </table>      

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}

            <a href="?page=1" >&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            
          {% endif %}

          <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </section>

    
  <footer style="text-align:center">
      <button type="button" class="btn btn-secondary btn-lg">
        <a href="{% url 'division_list' %}"class="link-light" > Show divisions </a>
      </button>
        <button type="button" class="btn btn-secondary btn-lg">
          <a class="link-light" href="{% url 'club_list' player_list.0.club.id %}"> Show clubs </a>
        </button> 
  </footer>

{% endblock %}  

